apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

labels:
  - pairs:
      app.kubernetes.io/part-of: preoomkiller-controller
      app.kubernetes.io/managed-by: kustomize

resources:
- serviceaccount.yaml
- clusterrole.yaml
- clusterrolebinding.yaml
- deployment.yaml
- podmonitor.yaml
